/* style.css */

.primaryBg {
    background-color: #add9f4;
}

.secondaryBg {
    background-color: #8d6346;
}

.primaryColor {
    color: #0c1b33
}

.secondaryColor {
    color: #e0ca3c
}

.accentColor {
    color: #8affc1
}